body {
background: #FDC830;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
  width: 150px;
	height: 150px;
}

.card{
border-radius: 5%;
background:   #fff66b;
border: 3px solid;
box-shadow: 2px 2px 5px  #181815 ;
width: 110%;
height: 100%;
}

#optionsG{
border-radius: 5%;
background:   #ffffff;
border: 3px solid;
box-shadow: 2px 2px 5px  #181815 ;
width: 30%;
height: 50%;
margin-left: 40%;
margin-top: 5%;
text-align: center;
}

img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	align: center;
}

#pr{
	width: 300px;
	height: 200px;
}

#log{
	width: 200px;
	height: 450px;
}

#about{
	background-color: white;
	border-radius: 0%;
	width: 90%;
	height: 90%;
	margin-left: 5%;
	margin-top: 5%;

}

#ab{
	width: 300px; 
	height: 300px;
}

#eliminar{
	width: 30px;
	heigth: 50px;
	background-color: red;
	border-color: #fff66b;
	border-radius: 20%;
}

footer{
	margin-top: 40px;
}

#can{
	background: red;
	border: red;
}
.btn{
	float: 20px left;
}
.col-md-8{
	width: 100%;
	margin-left: 15%;
}
		
